<div class="text-center row">
	<div class="col-md-11">
	<br>
		<img src="/images/burger.png" alt="A Burger" class="img-responsive center-block">
		<h1 class="text-center">Burger Time!</h1>
	</div>
</div>


<div class="row">
	<div class="col-md-6" id="uneaten">
	<h2 class="text-center">Eat One Of These!</h2>
		{{#each burgers}}
			{{#unless this.devoured}}
				<div class=row>
					<div class="burger-box text-center col-md-10">
						<h4>
						{{this.id}}. 
						{{this.burger_name}}
						</h4>
						<form action=/{{this.id}?_method="PUT" method="POST"}>
						</form>
					</div>
					<div class="col-md-2">
						<form action="/{{this.id}}?_method=PUT" method="POST">
							<input type="hidden">
							<button class="sub btn-danger" type="submit">DEVOUR!</button>
						</form>

					</div>
				</div>
			{{/unless}}
		{{/each}}
	</div>
	<div class="col-md-6" id="eaten">
		<h2 class="text-center">You Missed Out On These!</h2>
		{{#each burgers}}
			{{#if this.devoured}}
				<div class="row">
					<div class="burger-box text-center">
						<h4>
						{{this.id}}.
						{{this.burger_name}}
						</h4>
					</div>
				</div>
			{{/if}}
		{{/each}}
	</div>
</div>

<div class="row">
	
	<form class="create-burger-form" action="/" method="POST">
		<div class="col-md-3"></div>
		<div class="form-group col-md-5 text-center">
			<h2 class="text-center">Add a burger!</h2>
			<textarea class="form-control" rows="3" name="name"></textarea>
			<br>
			<button class="btn btn-danger" type="submit">Create A New One</button>

	</form>
</div>